/*HEADER/NAVBAR: */

header {
    display: flex;
    background-color: #343A40;
    padding: 0px;
    align-items: center;
  }

  h1 {
    font-size: 2em;
    color: white;
    align-items: center;
    text-align: left;
    font-family: 'Arial', sans-serif;
  }

  header nav a {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  }

  header nav ul {
    list-style-type: none;
    display: flex;
  }

  header nav ul li {
    padding: 10px;
  }

  header form {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }

  .searchBarButton {
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #343A40;
    border-color: rgb(235, 177, 4);
    color:rgb(235, 177, 4)
  }

  div.resultsBar {
    margin: 0px;
    padding: 0px;
    background-color: gray;
  }

  div h4 {
    color:  rgb(235, 177, 4);
    font-family: 'Arial', sans-serif;
    margin: 5px;
    padding: 5px;
  }

  div.movieContainer {
    display: flex;
    font-family: 'Arial', sans-serif;
  }
  
  div.moviePoster {
    display: flex;
    flex: 0 0 300px;
    margin: 10px;
  }

  div.moviePoster img {
    display: block;
    width: 100%;
  }

  div.movieDetails {
    flex: 1;
  }

  div.commentSection {
    margin-left: 20px;
    font-family: 'Arial', sans-serif;
  }

  .commentSubmitButton {
    color: white;
    background-color: blue;
    border-color: blue;
    padding: 5px;
  }

  .commentText {
    height: 40px;
  }